<form action="" method="POST" class="container">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Price</label>
    <input type="text" class="form-control" name="price" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Brand</label>
    <input type="text" class="form-control" name="brand" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Description</label>
    <input type="text" class="form-control" name="description" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Image</label>
    <input type="text" class="form-control" name="image" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Tags</label>
    <input type="text" class="form-control" name="tags" />
  </div>
  <button class="btn btn-info" type="submit">Add New Product</button>
</form>
